<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.aku.abdulsajid.uen_hfa_bl">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="edu.aku.abdulsajid.uen_hfa_bl.HomeActivity"
            android:label="@string/title_home"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="edu.aku.abdulsajid.uen_hfa_bl.SurveyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="edu.aku.abdulsajid.uen_hfa_bl.SurveyPendingActivity" />
        <activity android:name="edu.aku.abdulsajid.uen_hfa_bl.SurveyCompletedActivity" />
        <activity
            android:name="edu.aku.abdulsajid.uen_hfa_bl.LoginActivity"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="edu.aku.abdulsajid.uen_hfa_bl.SplashScreenActivity"
            android:theme="@style/AppThemeNACB">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SurveyPreActivity"
            android:label="@string/title_new_survey"

            android:screenOrientation="portrait" />
        <activity
            android:name=".SurveyRejectedActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".SurveyUploadedActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>